@model CloudVOffice.Web.Model.User.ChangePasswordModel;
@using CloudVOffice.Core.Domain.Common;
@using Newtonsoft.Json;
@using CloudVOffice.Core.Domain.Pemission;
@using System.Collections.Generic;
@using CloudVOffice.Services.Users;
@using Microsoft.Extensions.Caching.Memory;
@inject IUserService _userService;
@inject IMemoryCache _cache;

@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout";
	ViewData["Title"] = "Change Password";
}

<div class="apps container">
	<div class="apps">

		<div role="listbox" class="row user-select-none mt-5">

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

				<div class="card">
					<form asp-route="Setup/User/ChangePassword" method="post" autocomplete="off">
						<div asp-validation-summary="ModelOnly" class="message-error"></div>

						<div class="card-header"><b>Change Password</b></div>
						<div class="card-body">
							<div class="form-row">
								<div class="form-group col-md-4">

									<label for="Password" class="form-label">Password&nbsp;<span style="color:red;"><b>*</b></span></label>

									<input asp-for="@Model.Password" type="password" class="form-control" autofocus="autofocus" placeholder="Password" />

									<span asp-validation-for="Password"></span>
								</div>

								<div class="form-group col-md-4">


									<label for="ConfirmPassword" class="form-label">Confirm Password&nbsp;<span style="color:red;"><b>*</b></span></label>


									<input asp-for="@Model.ConfirmPassword" type="password" class="form-control" autofocus="autofocus" placeholder="Confirm Password" />

									<span asp-validation-for="ConfirmPassword"></span>
								</div>

							</div>
						</div>

						<div class="card-body">


							<div class="col-lg-2 col-md-2 col-sm-12">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>

					</form>
				</div>

			</div>

		</div>
	</div>
</div>
@{

	if (TempData["msg"] != null)
	{
		<script type="text/javascript">
			const message = "@TempData["msg"]";
			if (message == "@((int)MessageEnum.Success)") {
				sweetAlert({
					html: true,
					icon: "success",
					title: "User",
					text: "Successfully password changed.",
					type: "success"
				});
			}
			else {
				sweetAlert({
					html: true,
					icon: "error",
					title: "User",
					text: message,
					type: "error"
				});
			}
		</script>
	}
}